.popup-button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .popup-button:hover {
    background-color: #f50057;
  }
  
  .popup-overlay {
    position: fixed;         /* Fixes the position to the screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);  /* Overlay background */
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;     /* Centers content vertically */
    z-index: 9999;           /* Ensures popup is on top of other content */
  }
  
  .popup-content {
    background-color: var(--popup-bg);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    color: var(--text-color);
    text-align: center;
    opacity: 0;
    transform: rotate(180deg);
    animation: spiralIn 0.8s ease-out forwards;
  }
  
  .popup-content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .popup-content p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.5;
  }
  
  .close-button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .close-button:hover {
    background-color: #f50057;
  }

  /* Keyframes for Spiral/Spin Animation */
  @keyframes spiralIn {
    0% {
      opacity: 0;
      transform: rotate(180deg) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: rotate(0deg) scale(1);
    }
  }
  